@import './variables.module.scss';

%button {
  width: 50%;
  height: 100%;
  text-align: center;
  background-color: var(--color-primary);
  border-width: 0px;
  color: white;
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.loading {
  padding-top: 1rem;
}

.movieItem {
  height: 10rem;
  width: 100%;
  max-width: 900px;
}

.count {
  max-width: 900px;
  width: 100%;
  padding-top: 1rem;
}

.navigationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
  max-width: 900px;
}


.buttonRight {
  @extend %button;
  margin-left: 1px;
  border-radius: 0px 4px 4px 0px;
}

.buttonLeft {
  @extend %button;
  margin-right: 1px;
  border-radius: 4px 0px 0px 4px;
}